.form-field {
  position: relative;
  min-height: 6.9rem;
  transition: .15s;
  width: 100%;
  padding-bottom: 2rem;

  &-label {
    position: absolute;
    color: $white;
    font-size: 2rem;
  }

  &-input {
    border: 3px solid transparentize($primary, .5);
    border-radius: .8rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 2rem;
    right: 0;
    min-height: 4.9rem;
    font-size: 1.8rem;
    color: $black;
    background-color: transparent;
    transition: .15s;
    padding: 1rem 1.5rem;

    &:hover,
    &:focus {
      outline: none;
      border-radius: .8rem;
      border: 2px solid $white;
    }
  }

  .txt-err {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.4rem;
  }
}
